.p {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.s {
  font-size: 14px;
}
.m {
  font-size: 16px;
}
.b {
  font-size: 18px;
  line-height: 29px;
}
